body{
    background: linear-gradient(to right, #2C3930,rgb(107, 134, 116));
}

#register {
    background-image: url('../images/bgLogin.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 360px 430px;
    background-color: white;
    border-style: inset;
    width: 25%;
    padding: 20px;
    border: 1px;
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative;
    margin: 50px auto;
}

#login {
    background-image: url('../images/bgLogin.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 430px 315px;
    background-color: white;
    border-style: inset;
    width: 25%;
    padding: 30px;
    border: 1px;
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative;
    margin: 50px auto;
}

h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 0%;
    margin-bottom: 10px;
}

.foto { 
    padding-left: 93px;
}

.resForm {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: left;
    line-height: 1.5;
    width: 100%;
    padding: 10px;
    border: 1px solid #748a8a;
    border-radius: 100px; 
    box-sizing: border-box;
    background-color: #748a8a;
    margin-bottom: 5px;
    position: relative;
}

::placeholder {
    color: white;
}

#buttonRegister {
    background-color: #2f4f4f;
    transition: background-color 0.5s ease;
    border: 1px solid #ccc;
    border-radius: 100px; 
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    line-height: 1;
    margin-top: 100px;
}

#directLogin {
    color: white;
    text-decoration: none;
    line-height: 2;
    text-align: center;
    font-weight: bold;
}

#buttonLogin {
    background-color: #2f4f4f;
    transition: background-color 0.5s ease;
    border: 1px solid #ccc;
    border-radius: 100px; 
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    line-height: 1;
    margin-top: 100px;
}

#directRegister {
    color: white;
    text-decoration: none;
    line-height: 2;
    text-align: center;
    font-weight: bold;
}

#akun {
    text-align: right;
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: right;
    line-height: 1.5;
}

.error {
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

#successRegist{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #32d74284;
    border-radius: 5px; 
    box-sizing: border-box;
    background-color: #32d74284;
    position: relative;
}

#failLogin{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d23b3b84;
    border-radius: 5px; 
    box-sizing: border-box;
    background-color: #d23b3b84;
    position: relative;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #formulir {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 23px;
    }
}

@media screen and (max-width: 480px) {
    body {
        flex-direction: column;
    }

    #formulir {
        width: 100%;
        height: auto;
    }
}